<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <title>GFG</title>
</head>
<body>
   <form method="post">
    {% csrf_token %}
    <input type="text" name="translate" required>
    <br>
    <select required name="language">
        <option value="Hindi">Hindi</option>
        <option value="Marathi">Marathi</option>
        <option value="German">German</option>
    </select>
    <br>
    <button type="button">Translate</button>
   </form> 
</body>
</html> -->
<!DOCTYPE html>
<html>
<head>
    <title>GFG</title>
</head>
<body>
<form method="post">
    {% csrf_token %}
    <input type="text" name="translate" required>
    <br>
    <select required name="language">
        <option value="hi">Hindi</option>
        <option value="mr">Marathi</option>
        <option value="de">German</option>
    </select>
    <br>
    <button type="submit">Translate</button>
</form>
</body>
</html>

