<!DOCTYPE html>
<html>
<head>
    <title>GFG</title>
</head>
<body>
    <h1>Translator</h1>
    <form method="post">
        {% csrf_token %}
        <input type="text" name="translate" required>
        <br>
        <select required name="language">
            <option value="hi">Hindi</option>
            <option value="mr">Marathi</option>
            <option value="de">German</option>
        </select>
        <br>
        <button type="submit" name="translated_btn">Translate</button>
    </form>
    <br>
    <hr>
    <h1>Wikipidia Search</h1>
    <form method="post">
        {% csrf_token %}
        <input type="text" name="search">
        <br>
        <button type="submit" name="wiki_btn">Search</button>
    </form>
    {% if result %}
        {{result}}
    {% endif %}

    <br>
    <hr>
    <h1>Newsletter</h1>
    <!-- showing succes message -->
     {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags}}" {% endif %}>
                    {{ message }}
                </li>
            {% endfor %}
        </ul>
     {% endif %}

     <!-- Form with multiple submit buttons -->
      <form action="" method="POST">
        {% csrf_token %}
        <label for="email">Enter your email:</label>
        <input type="email" id="email" name="email" />
        <br> <br>
        <button type="submit" name="subscribe">Subscribe</button>
        <button type="submit" name="unsubscribe">Unsubscribe</button>
      </form>
</body>
</html>

